<div class="card">
    <div class="card-body">
        <h1>Acerca del sistema</h1>
        <p>
            El presente sistema está diseñado para poder cumplir con la Norma <a href="https://www.dof.gob.mx/nota_detalle.php?codigo=5459927&fecha=07/11/2016">NOM-005-ASEA-2016</a> y este a su vez, esta diseñado e implementado bajo la Norma <a href="https://www.sige.org.mx/servicios/certificacion-iso-iec-29110/">ISO/IEC 29110</a>.
        </p>
    </div>
</div>