{{>notifications}}
<center>
    <div class="dropdown-divider"></div>
    <div class="justify-content-center">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <center>
                            <h4>Menú del sistema</h4>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="dropdown-divider"></div>
    </div>
</center>
<div class="row justify-content-md-center">
    {{#if user.admin}}
        <div class="col-md-3">
            <div class="card card-body text-center">
                <h1><i class="fa fa-user-o"></i></h1>
                <div class="dropdown-divider"></div>
                <div class="list-group">
                    <div class="card bg-light mb-3">
                        <b>
                            <div class="card-header">Gestión de usuarios</div>
                        </b>
                        <div class="card-body">
                            <a href="/users/list" class="list-group-item"> <button type="button" class="btn btn-light"><i
                                        class="fa fa-search"></i> Consulta de usuarios </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    <div class="col-md-3">
        <div class="card card-body text-center">
            <h1><i class="fa fa-clone"></i></h1>
            <div class="dropdown-divider"></div>
            <div class="list-group">
                <div class="card bg-light mb-3">
                    <b>
                        <div class="card-header">Actividades</div>
                    </b>
                    <div class="card-body">
                        <a href="/activities/add" class="list-group-item"> <button type="button"
                                class="btn btn-light"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Registro de
                                actividades</button></a>
                        <a href="/activities/all" class="list-group-item"> <button type="button" class="btn btn-light">
                                <h7><i class="fa fa-search" aria-hidden="true"></i> Consulta de actividades</h7>
                            </button></a>
                            {{#if user.admin}}
                                <a href="/activities/auth" class="list-group-item"> <button type="button" class="btn btn-light">
                                        <h7><i class="fa fa-check-square-o" aria-hidden="true"></i> Autorización de actividades</h7>
                                    </button></a>
                            {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body text-center">
            <h1><i class="fa fa-calendar-check-o"></i></h1>
            <div class="dropdown-divider"></div>
            <div class="list-group">
                <div class="card bg-light mb-3">
                    <b>
                        <div class="card-header">Programa de mantenimiento</div>
                    </b>
                    <div class="card-body">
                        <a href="/activities/calendar" class="list-group-item"> <button type="button"
                                class="btn btn-light"><i class="fa fa-location-arrow"></i> Seguimiento</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-body text-center">
            <h1><i class="fa fa-file-pdf-o"></i></h1>
            <div class="dropdown-divider"></div>
            <div class="list-group">
                <div class="card bg-light mb-3">
                    <b>
                        <div class="card-header">Reportes</div>
                    </b>
                    <div class="card-body">
                        <a href="/activities/all" class="list-group-item"> <button type="button"
                                class="btn btn-light"><i class="fa fa-file-pdf-o"></i> Generación de reportes
                            </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>