<div class="jumbotron mt-4">
    <h1 class="h1 ">SISTEMA GASOLINERA LAS PALMAS</h1>
    <hr class="my-4">
    <p class="lead">
        Sistema web para cumplir con la Norma <a
            href="https://www.dof.gob.mx/nota_detalle.php?codigo=5459927&fecha=07/11/2016">NOM-005-ASEA-2016</a>.
    </p>
    <hr class="my-4">
    <h3><p>Ponla en práctica</p></h3>
    <p class="text-justify">
        El objetivo de la NOM-005-ASEA-2016 es establecer las especificaciones, parámetros y requisitos técnicos de
        Seguridad Industrial, Seguridad Operativa, y Protección Ambiental que se deben cumplir en el diseño,
        construcción, operación y mantenimiento de Estaciones de Servicio para almacenamiento y expendio de diésel y
        gasolinas.
    </p>
</div>