.logo{
    width: 30%;
}
a {
    color: #696E6E;
}
table th {
    text-align: center;
}
img{
    cursor: pointer;
}
#popup-img{
    border: 5px solid #fff;
}
.custom-file-container {
    max-width: 400px;
    margin: 0 auto;
}
#calendar {
    font-size:24px;
}
#calendar caption {
    text-align:left;
    padding:10px 10px;
    background-color:#2D3E48;
    color:#fff;
    font-weight:bold;
    font-size:medium;
}

#calendar caption div:nth-child(1) {float:left;}
#calendar caption div:nth-child(2) {float:right;}
#calendar caption div:nth-child(2) a {cursor:pointer;}
#calendar th {
    background-color:#2D3E48;
    color:#fff;
    width:100px;
    padding: 10px 10px;
}
#calendar td {
    text-align:center;
    padding:2px 63px;
    background-color:whitesmoke;
}
#calendar .hoy {
    background-color:deepskyblue;
}
#calendar .empty {
    background-color: goldenrod;
}
#calendar .ok {
    background-color:#B5CBAD;
}