<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">SWGAS <i class="fa fa-fire"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Acerca de</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item">
                    <a href="/home" class="nav-link"> Menú principal</a>
                </li>
                <li class="nav-item">
                    <!-- NOTFICACIÓN ADMIN -->
                    {{#if user.admin}}
                    {{#if actividades}}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="modal fade" id="MyModal">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3>Centro de notificaciones</h3>
                                                <h4><i class="fa fa-bell-o"></i></h4>
                                            </div>
                                            <div class="modal-body">
                                                Las siguientes actividades no han sido autorizadas, verifíquelas y
                                                realice su autorización.
                                                <div class="dropdown-divider"></div>
                                                <table class="table table-responsive center  mx-auto w-auto" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Autorizar</th>
                                                            <th scope="col">Folio</th>
                                                            <th scope="col">Nombre</th>
                                                            <th scope="col">Fecha</th>
                                                            <th scope="col">Periodo</th>
                                                            <th scope="col">Estado</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each actividades}}
                                                        <tr>
                                                            <td><a href="/activities/auth">Autorizar</a></td>
                                                            <td>{{folio}}</td>
                                                            <td>{{nombre}}</td>
                                                            <td>{{fecha}}</td>
                                                            <td>{{periodo}}</td>
                                                            <td>Sin autorización</td>
                                                        </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <input class="btn btn-light" data-dismiss="modal" value="Salir"
                                                    readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" data-toggle="modal" data-target="#MyModal">
                                    <button type="button" class="btn btn-dark" id="notification">
                                        Notificaciones
                                        <i class="fa fa-bell-o"></i>
                                        {{#if contador}}
                                        <span class="badge badge-danger ml-2">{{contador}}</span>
                                        <span class="sr-only">unread messages</span>
                                        {{/if}}
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="modal fade" id="MyModal">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3>Centro de notificaciones</h3>
                                                <h4><i class="fa fa-bell-o"></i></h4>
                                            </div>
                                            <div class="modal-body">
                                                No hay notificaciones nuevas por el momento.
                                            </div>
                                            <div class="modal-footer">
                                                <input class="btn btn-light" data-dismiss="modal" value="Salir"
                                                    readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" data-toggle="modal" data-target="#MyModal">
                                    <button type="button" class="btn btn-dark" id="notification">
                                        Notificaciones
                                        <i class="fa fa-bell-o"></i>
                                        {{#if contador}}
                                        <span class="badge badge-danger ml-2">{{contador}}</span>
                                        <span class="sr-only">unread messages</span>
                                        {{/if}}
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    <!-- NOTFICACIÓN ADMIN -->
                    {{else}}
                    <!-- NOTFICACIÓN US -->
                    {{#if detalle}}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="modal fade" id="MyModal">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3>Centro de notificaciones</h3>
                                                <h4><i class="fa fa-bell-o"></i></h4>
                                            </div>
                                            <div class="modal-body">
                                                Al parecer no se registrado una actividad el día de hoy, puedes hacerlo: <a
                                                    href="/activities/add"><b>Aquí</b></a>
                                                <div class="dropdown-divider"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <input class="btn btn-light" data-dismiss="modal" value="Salir"
                                                    readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" data-toggle="modal" data-target="#MyModal">
                                    <button type="button" class="btn btn-dark" id="notification">
                                        Notificaciones
                                        <i class="fa fa-bell-o"></i>
                                        <span class="badge badge-danger ml-2">1</span>
                                        <span class="sr-only">unread messages</span>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {{else}}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="modal fade" id="MyModal">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3>Centro de notificaciones</h3>
                                                <h4><i class="fa fa-bell-o"></i></h4>
                                            </div>
                                            <div class="modal-body">
                                                No hay notificaciones nuevas por el momento.
                                                <div class="dropdown-divider"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <input class="btn btn-light" data-dismiss="modal" value="Salir"
                                                    readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" data-toggle="modal" data-target="#MyModal">
                                    <button type="button" class="btn btn-dark" id="notification">
                                        Notificaciones
                                        <i class="fa fa-bell-o"></i>
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    <!-- NOTFICACIÓN US -->
                    {{/if}}
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Más
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/activities/add">Agregar actividad</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/logout">Cerrar Sesión</a>
                    </div>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/users/signin" class="nav-link"> Iniciar sesión</a>
                </li>
                <li class="nav-item">
                    <a href="/users/signup" class="nav-link"> Registrarse</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>