<!--Notificación-->
{{#if user.admin}}
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: -1000px; z-index:1000">
        <div div="toast" class="toast" style="position: absolute; top: 0; right: 0;" data-delay="4000">
            <div class="toast-header">
                <strong class="mr-auto"> <i class="fa fa-bell-o"></i> Notificación</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            {{#if actividades}}
                {{#each actividades}}
                <div class="toast-body">
                    Aún no se han autorizado la actividad: <a href="/activities/auth"><b>{{nombre}}.</b></a>
                    <div class="dropdown-divider"></div>
                </div>
                {{/each}}
            {{else}}
                <div class="toast-body">
                    No hay nada nuevo por el momento.
                    <div class="dropdown-divider"></div>
                </div>
            {{/if}}
        </div>
    </div>
{{else}}
    {{#if detalle}}
    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: -1000px; z-index:1000">
        <div div="toast" class="toast" style="position: absolute; top: 0; right: 0;" data-delay="4000">
            <div class="toast-header">
                <strong class="mr-auto"> <i class="fa fa-bell-o"></i> Notificación</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="toast-body">
                Aún no se registrado una actividad el día de hoy, puedes hacerlo: <a href="/activities/add"><b>Aquí</b></a>
                <div class="dropdown-divider"></div>
            </div>
        </div>
    </div>
    {{/if}}
{{/if}}