<center>
    <div class="dropdown-divider"></div>
    <div class="justify-content-center">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <center>
                            <h4>Programa de mantenimiento <i class="fa fa-calendar"></i></h4>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="dropdown-divider"></div>
    </div>
</center>
<a href="/home">
    <button type="button" class="btn btn-primary"><i class="fa fa-toggle-left"></i> Regresar al menú</button>
</a>
<div class="dropdown-divider"></div>
<center>
    En los días seleccionados en gris, existe una actividad programada. En los amarillos, falta por programar.
</center>
<div class="dropdown-divider"></div>
<table id="calendar" class="table-responsive" style="width: 100%;">
    <caption></caption>
    <thead>
        <tr>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
            <th>Sábado</th>
            <th>Domingo</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<form method="POST" action="/activities/calendar" name="date" onsubmit="return mostrarCalendario({{year}},{{month}});">
<div class="dropdown-divider"></div>
</body>
</html>

<script>
    var actual = new Date();
    function mostrarCalendario(year, month) {
        var now = new Date(year, month - 1, 1);
        var last = new Date(year, month, 0);
        var primerDiaSemana = (now.getDay() == 0) ? 7 : now.getDay();
        var ultimoDiaMes = last.getDate();
        var dia = 0;
        let index = 0;
        var resultado = "<tr bgcolor='silver'>";

        var last_cell = primerDiaSemana + ultimoDiaMes;
        let info = []
        {{#each queryDays}}
        if ('{{this}}' == 'empty') {
            info.push("<td class='empty'><a href=\"/activities/add\">")
        } else {
            info.push("<td class='ok'><a href=\"/activities/report/{{_id}}\">")
        }
        {{/each}}
        // hacemos un bucle hasta 42, que es el máximo de valores que puede
        // haber... 6 columnas de 7 dias
        for (var i = 1; i <= 42; i++) {
            if (i == primerDiaSemana) {
                // determinamos en que dia empieza
                dia = 1;
            }
            if (i < primerDiaSemana || i >= last_cell) {
                // celda vacia
                resultado += "<td>&nbsp;</td>";
            } else {
                // mostramos el dia
                if (dia == actual.getDate() && month == actual.getMonth() + 1 && year == actual.getFullYear())
                    resultado += info[index] + dia + "</td>";
                else
                    resultado += info[index] + dia + "</td>";
                dia++;
                index++;
            }
            if (i % 7 == 0) {
                if (dia > ultimoDiaMes)
                    break;
                resultado += "</tr><tr>\n";
            }
        }
        resultado += "</tr>";

        var meses = Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");

        // Calculamos el siguiente mes y año
        nextMonth = month + 1;
        nextYear = year;
        if (month + 1 > 12) {
            nextMonth = 1;
            nextYear = year + 1;
        }

        // Calculamos el anterior mes y año
        prevMonth = month - 1;
        prevYear = year;
        if (month - 1 < 1) {
            prevMonth = 12;
            prevYear = year - 1;
        }

        document.getElementById("calendar").getElementsByTagName("caption")[0].innerHTML = "<div>" + meses[month - 1] + " de " + year 
            /*+ "</div><div><button type=\"submit\"><i class=\"fa fa-arrow-left\" aria-hidden=\"true\"><input type=\"hidden\" name=\"year\" value="+prevYear+"><input type=\"hidden\" name=\"month\" value="+prevMonth+"></i></button><button type=\"submit\"><i class=\"fa fa-arrow-right\" aria-hidden=\"true\"><input type=\"hidden\" name=\"year\" value="+nextYear+"><input type=\"hidden\" name=\"month\" value="+nextMonth+"></i></button></div>"*/;
        document.getElementById("calendar").getElementsByTagName("tbody")[0].innerHTML = resultado;
    }
    mostrarCalendario(actual.getFullYear(), actual.getMonth() + 1);
    /*<a onclick='mostrarCalendario("+prevYear+","+prevMonth+")'></a>
    <a onclick='mostrarCalendario("+nextYear+","+nextMonth+")'></a>*/
</script>