<div class="dropdown-divider"></div>
<center>
    <div class="justify-content-center">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <center>
                            <h4>Registro de actividad</h4>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</center>
<div class="dropdown-divider"></div>
<a href="/home">
    <button type="button" class="btn btn-primary"><i class="fa fa-toggle-left"></i> Regresar</button>
</a>

<center>
    <div class="dropdown-divider"></div>
    <p>Bitacora de mantenimiento preventivo y correctivo de edificaciones,
        elementos constructivos, equipos, sistemas e instalaciones de la estación</p>
</center>
<div class="dropdown-divider"></div>
<div class="row justify-content-center">
    <div class="col-4">
        <p>NOM-005-ASEA-2016</p>
    </div>
    <div class="col-4">
        <center>
            <p>SASISOPA-ZAC-E02552-10-BT-01</p>
        </center>
    </div>
    <div class="dropdown-divider"></div>
</div>
<div class="dropdown-divider"></div>
<form action="/activities/create" method="POST" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tipo de actividad</h5>
                        <div class="form-group">
                            Nombre:
                            <input type="text" name="nombre" placeholder="Mangueras, pistolas de despacho, etc"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            Periodo:
                            <select class="form-control" name="periodo" required>
                                <option>Diario</option>
                                <option>Semanal</option>
                                <option>Trimestral</option>
                                <option>Cuatrimestral</option>
                                <option>Semestral</option>
                                <option>Anual</option>
                                <option>Quinquenal</option>
                            </select>
                        </div>
                        <div class="form-group">
                            Folio:
                            <input type="text" name="folio" placeholder="0000-00" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Equipo y material empleado</h5>
                        <div class="form-group">
                            Herramientas:
                            <textarea name="her" class="form-control"
                                placeholder="Describa las herramientas utilizadas"></textarea>
                        </div>
                        <div class="form-group">
                            Equipos:
                            <textarea name="eq" class="form-control"
                                placeholder="Describa los equipos utilizados"></textarea>
                        </div>
                        <div class="form-group">
                            Sustancias químicas:
                            <textarea name="sq" class="form-control"
                                placeholder="Describa las sustancias químicas utilizadas"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Inicio de actividad</h5>
                        <div class="form-group">
                            Fecha <i class="fa fa-calendar" aria-hidden="true"></i>:
                            <input type="date" name="fecha" class="form-control" required>
                        </div>
                        <div class="form-group">
                            Hora de inicio:
                            <input type="text" name="hi" placeholder="00:00 AM" class="form-control" required>
                        </div>
                        <div class="form-group">
                            Hora de termino:
                            <input type="text" name="ht" placeholder="00:00 PM" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mantenimiento</h5>
                        <div class="form-group">
                            <label>Tipo de mantenimiento</label>
                            <select class="form-control" name="tipom" required>
                                <option>Correctivo</option>
                                <option>Preventivo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Área destinada</label>
                            <select class="form-control" name="aread" required>
                                <option>Mecánico</option>
                                <option>Eléctrico</option>
                                <option>Infraestructura</option>
                                <option>Otro</option>
                            </select>
                        </div>
                        <div class="form-group">
                            Descripción:
                            <textarea name="descripcion" placeholder="Observaciones del mantenimiento"
                                class="form-control" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Selección de imágenes</h5>
                        <small class="form-text text-muted">
                            Máximo 6 imágenes de 3 MB cada una
                        </small>
                        <div class="custom-file-container" data-upload-id="myUniqueUploadId">
                            <label>Descartar <a href="javascript:void(0)" class="custom-file-container__image-clear"
                                    title="Clear Image">&times;</a></label>
                            <label class="custom-file-container__custom-file">
                                <input type="file" name="images"
                                    class="custom-file-container__custom-file__custom-file-input"
                                    accept=".png, .jpg, .jpeg, .pdf" multiple required aria-label="Elegir archivo(s)">
                                <input type="hidden" name="MAX_FILE_SIZE" value="3145728" />
                                <span class="custom-file-container__custom-file__custom-file-control"></span>
                            </label>
                            <div class="custom-file-container__image-preview"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Autorización</h5>
                        <div class="form-group">
                            <label>Autoriza</label>
                            <select class="form-control" name="aut">
                                {{#each admin}}
                                <option>{{nombres}} {{apellidos}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label id="ejecuta">Ejecuta</label>
                            <br>
                            <label style="visibility: hidden;" id="supervisa">Supervisa</label>
                            <select class="form-control" name="ej">
                                {{#each us}}
                                <option>{{nombres}} {{apellidos}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-info btn-sm btn-block" id="mostrar" readonly="readonly"
                                onclick="hideSelect()" value="Contratista">
                            <input class="btn btn-info btn-sm btn-block" id="ocultar" readonly="readonly"
                                onclick="showSelect()" value="Cancelar" style="visibility: hidden;">
                        </div>
                        <div class="form-group" id="contratista" style="visibility: hidden;">
                            <label>Contratista</label>
                            <input type="text" name="contra" id="contra" class="form-control" />
                        </div>
                        <div class="form-group" id="compania" style="visibility: hidden;">
                            <label>Compañia</label>
                            <input type="text" name="compania" id="com" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card-body">
                <button type="submit" class="btn btn-success btn-md btn-block">
                    Guardar Actividad
                </button>
            </div>
        </div>
    </div>
</form>
<div class="dropdown-divider"></div>
<center>
    E02552 Servicio Las Palmas De Fresnillo, S.A. DE C.V.
    <br>
    <div class="dropdown-divider"></div>
    PL/2984/EXP/ES/2015
    <br>
    <div class="dropdown-divider"></div>
    <a
        href="https://www.google.com/maps/place/Servicio+las+Palmas/@23.2856795,-102.9653599,14z/data=!4m5!3m4!1s0x0:0x8bde1b9179cfadb6!8m2!3d23.2977217!4d-102.9583647">Carretera.
        Panamericana KM.739.5, Entronque Torrreón Durango, S/C, C.P. 99000. Fresnillo. Zacatecas.</a>
</center>
<div class="dropdown-divider"></div>
<script>
    function hideSelect() {
        var button = document.getElementById("mostrar");
        var contratista = document.getElementById("contratista");
        var compania = document.getElementById("compania");
        var ejecuta = document.getElementById("ejecuta");
        var supervisa = document.getElementById("supervisa");
        var contra = document.getElementById("contra");
        var com = document.getElementById("com")

        button.style.visibility = "hidden";
        ejecuta.style.visibility = "hidden";

        var button2 = document.getElementById("ocultar")
        button2.style.visibility = "visible";
        contratista.style.visibility = "visible";
        compania.style.visibility = "visible";
        supervisa.style.visibility = "visible";

        contra.required = true;
        com.required = true;
    }
    function showSelect() {
        var button = document.getElementById("mostrar");
        var contratista = document.getElementById("contratista");
        var compania = document.getElementById("compania");
        var ejecuta = document.getElementById("ejecuta");
        var supervisa = document.getElementById("supervisa");

        button.style.visibility = "visible";
        ejecuta.style.visibility = "visible";

        var button2 = document.getElementById("ocultar");
        button2.style.visibility = "hidden";
        contratista.style.visibility = "hidden";
        compania.style.visibility = "hidden";
        supervisa.style.visibility = "hidden";

        contra.required = false;
        com.required = false;
    }
</script>