<center>
    <div class="dropdown-divider"></div>
    <div class="justify-content-center">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <center>
                            <h4>Modificación de actividad</h4>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="dropdown-divider"></div>
    </div>
</center>
<a href="/activities/all">
    <button type="button" class="btn btn-primary"><i class="fa fa-toggle-left"></i> Regresar</button>
</a>
<div class="dropdown-divider"></div>
<form action="/activities/edit/{{detAct._id}}?_method=PUT" method="POST">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Tipo de actividad</h5>
                        <div class="form-group">
                            <p class="font-weight-bold">Nombre:</p>
                            <label>{{act.nombre}}</label>
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bold">Periodo:</p>
                            <label>{{act.periodo}}</label>
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bold">Folio:</p>
                            <label>{{act.folio}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Equipo y material empleado</h5>
                        <div class="form-group">
                            <p class="font-weight-bold">Herramientas:</p>
                            <label>{{detAct.mat.her}}</label>
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bold">Equipos:</p>
                            <label>{{detAct.mat.eq}}</label>
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bold">Sustancias químicas:</p>
                            <label>{{detAct.mat.sq}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Inicio de actividad</h5>
                        <div class="form-group">
                            <p class="font-weight-bold">Fecha<i class="fa fa-calendar" aria-hidden="true"></i>:</p>
                            <label>{{detAct.fecha}}</label>
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bold">Hora de incio:</p>
                            <label>{{detAct.horain}}</label>
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bold">Hora de termino:</p>
                            <label>{{detAct.horate}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mantenimiento</h5>
                        <div class="form-group">
                            <p class="font-weight-bold">Tipo de mantenimiento:</p>
                            <label>{{detAct.tipo}}</label>
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bold">Área destinada:</p>
                            <label>{{detAct.area}}</label>
                        </div>
                        <div class="form-group">
                            Descripción:
                            <textarea name="descripcion" class="form-control">{{detAct.descripcion}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <center>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Visualización de imágenes</h5>
                        {{#each imagesPath}}
                        <img src="{{this}}" class="img-thumbnail popup" width="350">
                        {{/each}}
                        <p align="right">
                            <br>
                            <label>{{cant}} imágen(es)</label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </center>
    <br>
    <div class="row">
        <div class="col-md-5 offset-md-1">
            <div class="card-body">
                <div class="form-group">
                    <center>
                        <h5>Autoriza</h5>
                    </center>
                    <div class="dropdown-divider"></div>
                    <center><label>{{detAct.autoriza}}</label></center>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
        </div>
        <div class="col-md-5 offset-md">
            <div class="card-body">
                <div class="form-group">
                    {{#if detAct.realiza}}
                    <center>
                        <h5>Ejecuta</h5>
                    </center>
                    <div class="dropdown-divider"></div>
                    <center><label>{{detAct.realiza}}</label></center>
                    <div class="dropdown-divider"></div>
                    {{else}}
                    <center>
                        <h5>Contratista</h5>
                    </center>
                    <div class="dropdown-divider"></div>
                    <center><label>{{detAct.contratista.nombre}}</label></center>
                    <center><p class="font-weight-bold">Compañia</p></center>
                    <center><label>{{detAct.contratista.compania}}</label></center>
                    <div class="dropdown-divider"></div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card-body">
                <button type="submit" class="btn btn-success btn-md btn-block">
                    Editar Actividad
                </button>
            </div>
        </div>
    </div>
</form>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" id="modal1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img class="w-100" id="popup-img" src="" alt="image">
            <input class="btn btn-light" data-dismiss="modal" value="Salir" readonly="readonly">
        </div>
    </div>
</div>