<center>
    <div class="dropdown-divider"></div>
    <div class="justify-content-center">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <center>
                            <h4>Detalle de actividades <i class="fa fa-search"></i></h4>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="dropdown-divider"></div>
    </div>
</center>
<a href="/activities/all">
    <button type="button" class="btn btn-primary"><i class="fa fa-toggle-left"></i> Regresar actividades</button>
</a>
<div class="dropdown-divider"></div>
<form action="/activities/report" method="POST">
    <center>
        <div class="checkbox">
            <center>
                <div class="checkbox">
                    <label>
                        Seleccionar todas <input type="checkbox" class="btn btn-primary" id="checkall">
                        <div class="dropdown-divider"></div>
                        <button type="submit" class="btn btn-primary">Generar reporte <i class="fa fa-download"
                                aria-hidden="true"></i></button>
                    </label>
                </div>
            </center>
        </div>
    </center>
    <div class="dropdown-divider"></div>
    <center>
        <table id="actividadTabla" class="table table-striped table-responsive" style="width:100%">
            <thead>
                <tr>
                    <th>Seleccionar</th>
                    <th>Fecha</th>
                    <th>Hora Inicio</th>
                    <th>Hora Fin</th>
                    <th>Tipo Mantenimiento</th>
                    <th>Área</th>
                    <th>Descripción</th>
                    <th>Autoriza</th>
                    <th>Ejecuta/Supervisa</th>
                    <th>Herramientas</th>
                    <th>Equipo</th>
                    <th>S. Q.</th>
                    <th>Contratista</th>
                </tr>
            </thead>
            <tbody>
                {{#each detalleActividad}}
                <tr>
                    <td>
                        <center>
                            <div class="form-check">
                                <input class="form-check-input position-static" type="checkbox" value="{{_id}}"
                                    name="idD" required>
                            </div>
                        </center>
                    </td>
                    <td>{{fecha}}</td>
                    <td>{{horain}}</td>
                    <td>{{horate}}</td>
                    <td>{{tipo}}</td>
                    <td>{{area}}</td>
                    <td>{{descripcion}}</td>
                    <td>{{autoriza}}</td>
                    {{#if realiza}}
                        <td>{{realiza}}</td>
                    {{else}}
                        <td>{{supervisa}}</td>
                    {{/if}}
                    <td>{{mat.her}}</td>
                    <td>{{mat.eq}}</td>
                    <td>{{mat.sq}}</td>
                    {{#if contratista.nombre}}
                    <td>{{contratista.nombre}}</td>
                    {{else}}
                    <td>No existe contratista</td>
                    {{/if}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </center>
</form>