<center>
    <div class="dropdown-divider"></div>
    <div class="justify-content-center">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <center>
                            <h4>Reporte de actividades</h4>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="dropdown-divider"></div>
    </div>
</center>
<button class="btn btn-info" id="printBtn" onclick="printHTML()">Imprimir <i class="fa fa-print"
        aria-hidden="true"></i></button>
<script>
    function printHTML() {
        var printButton = document.getElementById("printBtn");
        printButton.style.visibility = 'hidden';
        window.print();
        printButton.style.visibility = 'visible';
    }
</script>
<div class="dropdown-divider"></div>
{{#each detalleActividad}}
<center>
    <h3>{{folio}}</h3>
</center>
<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Tipo de actividad</h5>
                    <div class="form-group">
                        <p class="font-weight-bold">Nombre:</p>
                        <label>{{nombre}}</label>
                    </div>
                    <div class="form-group">
                        <p class="font-weight-bold">Periodo:</p>
                        <label>{{periodo}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 offset-md">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Equipo y material empleado</h5>
                    <div class="form-group">
                        <p class="font-weight-bold">Herramientas:</p>
                        <label>{{mat.her}}</label>
                    </div>
                    <div class="form-group">
                        <p class="font-weight-bold">Equipos:</p>
                        <label>{{mat.eq}}</label>
                    </div>
                    <div class="form-group">
                        <p class="font-weight-bold">Sustancias químicas:</p>
                        <label>{{mat.sq}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Inicio de actividad</h5>
                    <div class="form-group">
                        <p class="font-weight-bold">Fecha<i class="fa fa-calendar" aria-hidden="true"></i>:</p>
                        <label>{{fecha}}</label>
                    </div>
                    <div class="form-group">
                        <p class="font-weight-bold">Hora de incio:</p>
                        <label>{{horain}}</label>
                    </div>
                    <div class="form-group">
                        <p class="font-weight-bold">Hora de termino:</p>
                        <label>{{horate}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 offset-md">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mantenimiento</h5>
                    <div class="form-group">
                        <p class="font-weight-bold">Tipo de mantenimiento:</p>
                        <label>{{tipo}}</label>
                    </div>
                    <div class="form-group">
                        <p class="font-weight-bold">Área destinada:</p>
                        <label>{{area}}</label>
                    </div>
                    <div class="form-group">
                        <p class="font-weight-bold">Descripción:</p>
                        <label>{{descripcion}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<center>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Visualización de imágenes</h5>
                    {{#each imgs}}
                    <img src="{{this}}" class="img-thumbnail popup" width="350">
                    {{/each}}
                    <br>
                    <p class="font-weight-bold" align="right">{{cont}} imágen(es)</p>
                </div>
            </div>
        </div>
    </div>
</center>
<br>
<div class="row">
    <div class="col-md-5 offset-md-1">
        <div class="card-body">
            <div class="form-group">
                <center>
                    <h5>Autoriza</h5>
                </center>
                <div class="dropdown-divider"></div>
                <center><label>{{autoriza}}</label></center>
                <div class="dropdown-divider"></div>
            </div>
        </div>
    </div>
    <div class="col-md-5 offset-md">
        <div class="card-body">
            <div class="form-group">
                {{#if contratista.nombre}}
                <center>
                    <h5>Supervisa</h5>
                </center>
                <div class="dropdown-divider"></div>
                <center><label>{{realiza}}</label></center>
                <center>
                    <h5>Contratista</h5>
                </center>
                <div class="dropdown-divider"></div>
                <center><label>{{contratista.nombre}}</label></center>
                <center>
                    <p class="font-weight-bold">Compañia</p>
                </center>
                <center><label>{{contratista.compania}}</label></center>
                <div class="dropdown-divider"></div>
                {{else}}
                <center>
                    <h5>Ejecuta</h5>
                </center>
                <div class="dropdown-divider"></div>
                <center><label>{{realiza}}</label></center>
                <div class="dropdown-divider"></div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<div class="dropdown-divider"></div>
<br>
<br>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" id="modal1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img class="w-100" id="popup-img" src="" alt="image">
            <input class="btn btn-light" data-dismiss="modal" value="Salir" readonly="readonly">
        </div>
    </div>
</div>
{{/each}}