<center>
    <div class="dropdown-divider"></div>
    <center>
        <div class="justify-content-center">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <center>
                                <h4>Listado de actividades</h4>
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </center>
    <div class="dropdown-divider"></div>
    <p>La búsqueda puede ser realizada por medio de folio, nombre o fecha.</p>
    <div class="dropdown-divider"></div>
</center>
<form action="/activities/all/listDetailActivity" method="POST">
    <center>
        <table class="table table-responsive" style="width:55%">
            <tbody>
                <tr>
                    <td>
                        <a href="/home">
                            <center>
                                <button type="button" class="btn btn-primary"><i class="fa fa-toggle-left"></i>
                                    Regresar
                                    al menú</button>
                            </center>
                        </a>
                    </td>
                    <td>
                        <center>
                            <div class="checkbox">
                                <label>
                                    <button type="submit" class="btn btn-primary btn-md btn-block">
                                        <i class="fa fa-file-word-o"></i> Ver detalle
                                    </button>
                                    <div class="dropdown-divider"></div>
                                    <button onclick="check()" class="btn btn-secondary"> <i
                                            class="fa fa-file-word-o"></i> Ver detalle todas</button>
                                </label>
                            </div>
                        </center>
                    </td>
                    <td>
                        <a href="/activities/add">
                            <center>
                                <button type="button" class="btn btn-primary"><i class="fa fa-plus-square-o"></i>
                                    Agregar
                                    actividad</button>
                            </center>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
    <div class="dropdown-divider"></div>
    <center>
        <table id="actividadTabla" class="table table-striped table-responsive" style="width:70%">
            <thead>
                <tr>
                    <th>Detalle</th>
                    <th>Folio</th>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Periodo</th>
                    <th>Modificar</th>
                </tr>
            </thead>
            <tbody>
                {{#each actividad}}
                <tr>
                    <td>
                        <center>
                            <div class="form-check">
                                <input class="form-check-input position-static detalleActividad" type="checkbox"
                                    value="{{_id}}" name="idc">
                            </div>
                        </center>
                    </td>
                    <td>{{folio}}</a></td>
                    <td>{{nombre}}</td>
                    <td>{{fecha}}</td>
                    <td>{{periodo}}</td>
                    <td><a href="/activities/edit/{{ _id }}">
                            <center><i class="fa fa-edit"></i></center>
                        </a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </center>
    </div>
</form>