<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Gasolinera</title>
    <!--Notification Style-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!--Boostrap 4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--Boostrap 4 -> DATA TABLES-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <!--MyCSS-->
    <link rel="stylesheet" href="/css/main.css">
    <!--Font Awesome-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- file-upload-with-preview -->
    <link rel="stylesheet" type="text/css"
        href="https://unpkg.com/file-upload-with-preview@4.0.2/dist/file-upload-with-preview.min.css">

</head>

<body>
    {{>navigation}}
    <main class="container p-4">
        {{>messages}}
        {{>errors}}
        {{{body}}}
    </main>

    <!--SCRIPTS-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!--CDN DE TABLAS DE BOOTSTRAP 4-->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <!--CDN DE NOTIFICACIÓN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!--Script para pre-visualización de imágenes-->
    <script src="https://unpkg.com/file-upload-with-preview@4.0.2/dist/file-upload-with-preview.min.js"></script>
    <script>
        try {
            var upload = new FileUploadWithPreview('myUniqueUploadId')
        } catch (e) {

        }
    </script>
    <!-- Script para tablas-->
    <script>
        $(document).ready(function () {
            $('#actividadTabla').DataTable({
                "paging": false
            });
            $('.toast').toast('show')
        }); 
    </script>
    <!-- Script para seleccionar todos los checkbox-->
    <script>
        $("#checkall").change(function () {
            $("input:checkbox").prop("checked", $(this).prop("checked"))
        });
    </script>
    <!-- Script para seleccionar solo los chekbox de detalles y autorizar-->
    <script>
        function check() {
            var detallesCheck = document.getElementsByClassName("detalleActividad");
            for (var i = 0; i < detallesCheck.length; ++i) {
                detallesCheck[i].checked = "checked";
            }
        }
    </script>
    <script>
        function check1() {
            var autorizarCheck = document.getElementsByClassName("autorizarActividad");
            for (var i = 0; i < autorizarCheck.length; ++i) {
                autorizarCheck[i].checked = "checked";
            }
        }
    </script>
    <!-- Scripr para visualización de imágenes en editar y en reporte-->
    <script>
        $('.popup').click(function () {
            var src = $(this).attr('src');
            $('#modal1').modal('show');
            $('#popup-img').attr('src', src);
        })
    </script>
</body>

</html>