<center>
    <div class="dropdown-divider"></div>
    <div class="justify-content-center">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>
                        <center>
                            <h4>Modificación de usuario</h4>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="dropdown-divider"></div>
    </div>
</center>
<a href="/users/list">
    <button type="button" class="btn btn-primary"><i class="fa fa-toggle-left"></i> Regresar</button>
</a>
<div class="dropdown-divider"></div>
<form action="/users/edit/{{user._id}}?_method=PUT" method="POST">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <div class="form-group">
                            <p class="font-weight-bold">Nombre(s):</p>
                            <label for="exampleFormControlSelect1">{{user.nombres}}</label>
                        </div>
                        <div class="form-group">
                            <p class="font-weight-bold">Apellidos:</p>
                            <label for="exampleFormControlSelect1">{{user.apellidos}}</label>
                        </div>
                        <div class="form-group">
                            Correo eléctronico:
                            <input type="text" name="email" class="form-control" value="{{user.email}}">
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="cargo" required>
                                <option selected>{{user.cargo}}</option>
                                <option>Despachador</option>
                                <option>Jefe de Mantenimiento y de Servicio al Cliente</option>
                                <option>Jefe de patio</option>
                                <option>Auxiliar de Mantenimiento</option>
                                <option>Auxiliar Administrativo y de RH</option>
                                <option>Auxiliar Administrativo</option>
                                <option>Auxiliar de Contabilidad y Jefe de Facturación</option>
                                <option>Auxiliar de Facturación</option>
                            </select>
                        </div>
                        <div class="form-group">
                            # de empleado:
                            <input type="text" name="nempleado" class="form-control" value="{{user.nempleado}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card-body">
                    <button type="submit" class="btn btn-success btn-md btn-block">
                        Editar usuario
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>