<center>
    <div class="dropdown-divider"></div>
    <center>
        <div class="justify-content-center">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <center>
                                <h4>Listado de usuarios</h4>
                            </center>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </center>
    <div class="dropdown-divider"></div>
    <p>La búsqueda puede ser realizada por medio de los campos de la tabla.</p>
</center>
<div class="dropdown-divider"></div>
<a href="/home">
    <button type="button" class="btn btn-primary"><i class="fa fa-toggle-left"></i> Regresar al menú</button>
</a>
<div class="dropdown-divider"></div>
<center>
    <table id="actividadTabla" class="table table-striped table-responsive" style="width:100%">
        <thead>
            <tr>
                <th>Número de empleado</th>
                <th>Cargo</th>
                <th>Nombre(s)</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Modificar</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{nempleado}}</td>
                <td>{{cargo}}</a></td>
                <td>{{nombres}}</td>
                <td>{{apellidos}}</td>
                <td>{{email}}</td>
                <td><a href="/users/edit/{{ _id }}">
                        <center><i class="fa fa-edit"></i></center>
                    </a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</center>
</div>