<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header text-center">
                Registro de usuario
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombres" placeholder="Nombre(s)"
                            value="{{nombres}}" autofocus required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="apellidos" placeholder="Apellido(s)"
                            value="{{apellidos}}" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Correo electrónico"
                            value="{{email}}" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="nempleado" placeholder="Número de empleado"
                            value="{{nempleado}}" required>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="cargo" required>
                            <option>Despachador</option>
                            <option>Jefe de Mantenimiento y de Servicio al Cliente</option>
                            <option>Jefe de patio</option>
                            <option>Auxiliar de Mantenimiento</option>
                            <option>Auxiliar Administrativo y de RH</option>
                            <option>Auxiliar Administrativo</option>
                            <option>Auxiliar de Contabilidad y Jefe de Facturación</option>
                            <option>Auxiliar de Facturación</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña"
                            value="{{password}}" required>
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            La contraseña debe de tener mínimo 4 caracteres y un número
                        </small>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password"
                            placeholder="Repetir contraseña" value="{{confirm_password}}" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Registrarse
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>