<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h1>Inicio de sesión </h1>
            </div>
            <img src="/img/logo.png" class="mx-auto d-block m-4 logo" alt="Logo">
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Correo electrónico" value="{{email}}" 
                        autofocus required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="form-group">
                        <a href="/users/signup">No tienes una cuenta?</a>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Iniciar sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>